.edit-button {
  margin-top: 16px;
  margin-bottom: 8px;
  padding: 8px 24px;
  border-radius: 8px;
  background: #2d2d2d;
  cursor: pointer;
  color: #cacaca;
  border: 1px solid rgba(153, 153, 153, 0.2);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.edit-button:hover {
  background: #191919;
  border: 1px solid #2980b9;
  color: white;
}

.edit-icon {
  margin-right: 8px;
}